.details-duplicates,
.details-errors,
.details-suggestion {
  margin: 0 0 5px;
}

.details-duplicates ul,
.details-errors ul,
.details-suggestion ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.details-duplicates ul li,
.details-errors ul li,
.details-suggestion ul li {
  margin: 4px 0 0;
  padding: 4px;
  display: block;
}

.details-duplicates ul li {
  color: #ae3636;
  border: 1px dotted #f38284;
  background-color: #fcdfe0;
}

.details-errors ul li {
  color: #ae3636;
  border-left: 2px solid #f38284;
  background-color: #fcdfe0;
}

.details-suggestion ul li {
  margin: 4px 0 0 0;
  padding: 3px 5px;
  /* background-color: #509aff; */
  color: #509aff;
  /* border-left: 2px solid #b0d1ff; */
  /* background-color: #e3efff; */
  float: left;
  cursor: pointer;
}

.details-suggestion ul li:hover {
  /* background-color: #2f7dea; */
  text-decoration: underline;
}

.details-suggestion {
  padding-bottom: 4px;
  background-color: #e3efff;
}

.details-no-suggestions,
.details-tip,
.details-no-tips {
  margin: 0;
  padding: 4px;
}

.details-no-suggestions {
  color: #4a96ff;
  /* border-left: 2px solid #b0d1ff; */
  background-color: #e3efff;
}

.details-tip,
.details-no-tips {
  background-color: #f3e1fd;
  /* border-left: 2px solid #b377d2; */
  color: #882db6;
}

.details-suggestions,
.details-tips {
  margin-bottom: 6px;
}

.details-tips-title,
.details-suggestions-title {
  padding: 4px;
  color: #fff;
  font-weight: bold;
}

.details-tips-title {
  background-color: #b377d2;
}

.details-suggestions-title {
  background-color: #7db4ff;
}

.details-suggestions {}

.details-suggestion strong {
  padding-right: 20px;
}

.details-suggestion li.more {}
.details-suggestion li.more a {}

.details-link {
  margin: 0;
  padding: 2px 5px;
  display: block;
  float: right;
  font-size: 9px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  background-color: #f38284;
}

.details-link:hover {
  background-color: #ae3636;
}

