.popup .details-tips,
.popup .details-resolutions,
.popup .details-suggestions {
  font-size: 14px;
}

.details-duplicates,
.details-errors,
.details-suggestion {
  margin: 0 0 5px;
}

.details-duplicates ul,
.details-errors ul,
.details-suggestion ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.details-duplicates ul li,
.details-errors ul li,
.details-suggestion ul li {
  margin: 4px 0 0;
  padding: 4px;
  display: block;
}

.details-duplicates ul li {
  color: #ae3636;
  border: 1px dotted #f38284;
  background-color: #fcdfe0;
}

.details-errors ul li {
  color: #ae3636;
  border-left: 2px solid #f38284;
  background-color: #fcdfe0;
}

.details-suggestion ul li {
  margin: 4px 0 0 0;
  padding: 3px 5px;
  /* background-color: #509aff; */
  color: #509aff;
  /* border-left: 2px solid #b0d1ff; */
  /* background-color: #e3efff; */
  float: left;
  cursor: pointer;
}

.details-suggestion ul li:hover {
  /* background-color: #2f7dea; */
  text-decoration: underline;
}

.details-suggestion {
  padding-bottom: 4px;
  background-color: #e3efff;
}

.details-no-suggestions,
.details-tip,
.details-no-tips,
.details-no-resolutions {
  margin: 0;
  padding: 5px 10px;
}

.details-no-suggestions {
  color: #4a96ff;
  /* border-left: 2px solid #b0d1ff; */
  background-color: #e3efff;
}

.details-tip,
.details-no-tips {
  background-color: #f3e1fd;
  /* border-left: 2px solid #b377d2; */
  color: #882db6;
}

table.details-resolution {
  margin: 0;
  width: 100%;
  border-collapse: collapse;
}

.details-resolution td {
  padding: 6px 10px;
  border: 4px solid #e5f0ff;
}

/*
.details-resolution td:first-child {
  border-left: none;
}
.details-resolution td:last-child {
  border-right: none;
}
*/

.details-resolution td.odd {
  background-color: #c0dbff;
}
.details-resolution td.even {
  background-color: #d2e5ff;
}

.details-resolution-label {
  padding-right: 30px !important;
  width: 50px;
  white-space: nowrap;
}

.details-resolution-select {
  text-align: center;
  font-weight: bold;
}

.details-resolution-select a,
.details-resolution-select span {
  margin: -3px 0;
  padding: 4px 15px;
  color: #fff;
  background-color: #5393eb;
  cursor: pointer;
  text-decoration: none;
}

.details-resolution-select a:hover,
.details-resolution-select span:hover {
  background-color: #216bd2;
  text-decoration: none;
}

.details-resolution,
.details-no-resolutions {
  background-color: #e5f0ff;
  color: #5393eb;
}

.details-tips,
.details-suggestions,
.details-resolutions {
  margin-bottom: 6px;
}

.details-tips-title,
.details-suggestions-title,
.details-resolutions-title {
  padding: 5px 10px;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
}

.details-tips-title {
  background-color: #b377d2;
}

.details-suggestions-title {
  background-color: #7db4ff;
}

.details-resolutions-title {
  background-color: #7db4ff;
}

.details-suggestions {}

.details-suggestion strong {
  padding-right: 20px;
}

.details-suggestion li.more {}
.details-suggestion li.more a {}

.details-link {
  margin: -1px 0 0 4px;
  padding: 2px 5px;
  display: block;
  float: right;
  font-size: 10px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  background-color: #f38284;
}

.details-link:hover {
  background-color: #ae3636;
}

