.details-checks .error,
.details-checks .warning,
.details-checks .success {
  margin: 0;
  padding: 2px 4px;
  width: 50px;
  display: inline-block;
  border: 1px solid;
  text-align: center;
}

.details-checks .error {
  background-color: #fcdfe0;
  border-color: #f38284;
  color: #ae3636;
}

.details-checks .warning {
  background-color: #f8f5e1;
  border-color: #efe9b7;
  color: #a5890b;
}

.details-checks .success {
  background-color: #dde5c5;
  border-color: #99c494;
  color: #63922d;
}

table.details-checks {
  margin: 2px 0;
  width: 100%;
  font-size: 10px;
  /* table-layout: fixed; */
}

table.details-checks tr {}
table.details-checks tr th {
  padding: 2px 6px !important;
  background-color: #e5dbcc !important;
  border: 1px solid #f0ede8;
  /* font-style: italic; */
}

table.details-checks tr th.result,
table.details-checks tr td.result {
  padding: 2px !important;
  width: 65px;
  text-align: center !important;
}

table.details-checks tr th.value,
table.details-checks tr td.value {
  width: 50px;
  text-align: center !important;
}

table.details-checks tr th.type,
table.details-checks tr td.type {
  padding: 2px !important;
  width: 80px !important;
  text-align: center !important;
}

/* table.details-checks tr th.type,
table.details-checks tr th.type:hover {} */

table.details-checks tr td.type .data-type {
  background: none !important;
}

table.details-checks tr td {
  /* width: 5%; */
  padding: 2px 6px !important;
  background-color: #eee8df !important;
  border: 1px solid #f0ede8;
  white-space: inherit;
}

table.details-checks tr th:hover {
  background-color: #e5dbcc !important;
}

table.details-checks tr td:hover {
  background-color: #eee8df !important;
}

table.details-checks tr td.error-desc {}
table.details-checks tr td.error-info {}

table.data tr td.check-info {
  width: 130px;
}
