.datepicker {}

.eip {
  cursor: pointer;
}

.eip-form {
  margin: 0;
  padding: 0;
}

.eip-form input {
  margin: 0 0 0 -1px;
  padding: 0;
  border: none;
  background-color: transparent;
  font-family: 'Lucida Grande', Tahoma, Verdana, Arial, sans-serif;
  font-size: 11px;
  color: #f48f32;
}

#content table.data tr.details td.loading {
  height: 75px;
  background-image: url("/images/loading_large.gif");
  background-repeat: no-repeat;
  background-position: center center;
}

#content table.data td.loading {
  height: 16px;
  background-image: url("/images/loading_small.gif");
  background-repeat: no-repeat;
  background-position: center center;
}

#content table.data td.loading a.link,
#content table.data td.loading span.link,
#content table.data td.loading a.link:hover,
#content table.data td.loading span.link:hover {
  color: transparent;
  background-color: transparent;
}

