.datepicker {}

.eip {
  cursor: pointer;
}

.eip-form {
  margin: 0;
  padding: 0;
}

.eip-form input {
  margin: 0 0 0 -1px;
  padding: 0;
  border: none;
  background-color: transparent;
  font-family: 'Lucida Grande', Tahoma, Verdana, Arial, sans-serif;
  font-size: 11px;
  color: #f48f32;
}

#content table.data tr.details td.loading {
  height: 75px;
  background-image: url("/images/loading_large.gif");
  background-repeat: no-repeat;
  background-position: center center;
}

#content table.data td.loading {
  height: 16px;
  background-image: url("/images/loading_small.gif");
  background-repeat: no-repeat;
  background-position: center center;
}

#content table.data td.loading a.link,
#content table.data td.loading span.link,
#content table.data td.loading a.link:hover,
#content table.data td.loading span.link:hover {
  color: transparent;
  background-color: transparent;
}

#content form .dpicker {

}

#content form .gldp-default {
  margin: 4px 0 4px 170px;
	float:left;
	background-color:#ccc !important;
	border:solid 1px #888;
}

#content form .gldp-default table {
	border-spacing:1px;
	border-collapse:inherit;
}

#content form .gldp-default tr {
	line-height: 20px;
}

#content form .gldp-default td {
	margin:0;
	padding:0;
	width: 55px;
	text-align:center;
}

#content form .gldp-default-prevnext {
	font-family:"times new roman";
	color:#222;
	cursor:pointer;
	font-weight:bold;
}

#content form .gldp-default-monyear {
	color:#222;
	font-weight:bold;
}

#content form .gldp-default-dow {
	background-color:#f82200;
	color:#eee;
	font-weight:bold;
}

#content form .gldp-default-day {
	background-color:#fff;
	color:#222;
	border:solid 1px #fff;
	font-weight:bold;
}
#content form .gldp-default-day-hover {
	background-color:#fff;
	color:#f82200;
	border:solid 1px #f82200;
	cursor:pointer;
	font-weight:bold;
}

#content form .gldp-default-selected {
	background-color:#fee;
	color:#222;
	border:solid 1px #f82200;
}

#content form .gldp-default-today {
	background-color:#f82200;
	color:#fff;
	border:solid 1px #f82200;
	font-weight:bold;
}
#content form .gldp-default-today-hover {
	background-color:#fff;
	color:#f82200;
	border:solid 1px #f82200;
	cursor:pointer;
	font-weight:bold;
}

#content form .gldp-default-sat, .gldp-default-sun {
	background-color:#fff;
	color:#004f8f;
	border:solid 1px #fff;
	font-weight:bold;
}
#content form .gldp-default-sat-hover, .gldp-default-sun-hover {
	background-color:#fff;
	color:#004f8f;
	border:solid 1px #f82200;
	cursor:pointer;
	font-weight:bold;
}

#content form .gldp-default-noday {
	background-color:#fff;
	border:solid 1px #fff;
	color:#666;
	cursor:wait;
}