.datepicker {}

.eip {
  cursor: pointer;
}

.eip-form {
  margin: 0;
  padding: 0;
}

.eip-form input {
  margin: 0 0 0 -1px;
  padding: 0;
  border: none;
  background-color: transparent;
  font-family: 'Lucida Grande', Tahoma, Verdana, Arial, sans-serif;
  font-size: 11px;
  color: #f48f32;
}