#navigation .primary {
  margin: 0;
  padding: 0;
  height: 26px;
  width: 100%;
  background-color: #e4e4e4;
  list-style-type: none;
}

#navigation .primary li {
  margin: 0;
  padding: 0 0 0 25px;
  width: auto;
  float: left;
  display: block;
  text-transform: uppercase;
}

#navigation .primary li.right {
  float: right;
  padding: 0 25px 0 0;
}

#navigation .primary li a {
  padding: 5px 0 4px;
  color: #555;
  text-decoration: none;
  line-height: 26px;
}

#navigation .primary li a:hover {
  color: #333;
  border-bottom: 2px solid #aaa;
  cursor: pointer;
}

#navigation .primary li.active a {
  color: #333;
  cursor: default;
  font-weight: bold;
  border-bottom: 2px solid #000;
}

#navigation .primary li.active a:hover {
  border-bottom: 2px solid #f60;
}


#navigation .secondary {
  margin: 0;
  padding: 4px 0;
  list-style-type: none;
  text-align: left;
  background-color: #fafafa;
}

#navigation .secondary li {
  margin: 0;
  padding: 4px 10px 0;
}

#navigation .secondary li a {
  background: transparent url('/images/list_off.gif') left center no-repeat;
  padding-left: 15px;
  text-align: left;
  text-decoration: none;
  color: #555;
}

#navigation .secondary li a:hover {
  background: transparent url('/images/list_on.gif') left center no-repeat;
  color: #333;
}

#navigation .secondary li.active a {
  background: transparent url('/images/list_active.gif') left center no-repeat;
  color: #000;
}

#navigation .secondary li.active a:hover {
  background: transparent url('/images/list_orange.gif') left center no-repeat;
  cursor: default;
}

#navigation .secondary li .commands {
  margin: 0;
  padding: 0 16px;
  list-style-type: none;
}
#navigation .secondary li .commands li {}
#navigation .secondary li .commands li a {
  background: transparent url('/images/list_off.gif') left center no-repeat;
  padding-left: 15px;
  text-align: left;
  text-decoration: none;
  color: #555;
  cursor: pointer;
}
#navigation .secondary li .commands li a:hover {
  background: transparent url('/images/list_on.gif') left center no-repeat;
  color: #333;
  cursor: pointer;
}
#navigation .secondary li .commands li.active a {
  background: transparent url('/images/list_active.gif') left center no-repeat;
  color: #000;
}
#navigation .secondary li .commands li.active a:hover {
  background: transparent url('/images/list_orange.gif') left center no-repeat;
  cursor: default;
}

