
/* Colors */

.pending,
.pending a {
  color: #aa7700;
  text-decoration: none;
}

.accepted,
.accepted a {
  color: #008200;
  text-decoration: none;
}

.rejected,
.rejected a {
  color: #990000;
  text-decoration: none;
}

.duplicated,
.duplicated a {
  color: #0066cc;
  text-decoration: none;
}

.deleted,
.deleted a {
  color: #445544;
  text-decoration: none;
}

.pending a:hover,
.accepted a:hover,
.rejected a:hover,
.duplicated a:hover,
.deleted a:hover {
  text-decoration: underline;
}


/* Forms */

.has-section {
  margin: 10px auto;
}

.toggle-form {
  margin: 5px 0;
  padding: 4px 4px 5px;
  border-top: 2px solid #ffb685;
  background-color: #ffd6ba;
  font-weight: bold;
  cursor: pointer;
}

.toggle-form span {
  padding: 3px 10px 2px;
  font-size: 10px;
  background-color: #ffb685;
  color: #fff;
}

.toggle-form span:hover {
  background-color: #fb984d;
}

#content form {
  margin: 5px 0;
  padding: 2px 4px;
  border-top: 2px solid #ffb685;
  background-color: #ffd6ba;
  clear: both;
}

#content form.has-section {
  margin: 10px auto;
  padding: 2px;
  width:  95%;
  border: 1px solid #ffb685;
}

#content form.has-section-full {
  margin: 10px auto;
  padding: 2px;
  width:  100%;
  border: 1px solid #ffb685;
}

#content form span.label {
  padding: 4px 10px;
  width: 150px;
  display: block;
  float: left;
  font-weight: bold;
  text-align: right;
}

#content form span.field {}

#content form p {
  margin: 4px auto;
  padding: 0 300px;
  clear: both;
  position: relative;
}

#content form p.input input,
#content form p.password input,
#content form p.submit input,
#content form p.textarea textarea,
#content form p.forceselect select,
#content form p.select select {
  font-family: 'Lucida Grande', Tahoma, Verdana, Arial, sans-serif;
  font-size: 12px;
  color: #333;
}

#content form p.input {}
#content form p.password {}

#content form p.radios span.radio {
  margin-right: 5px;
}
#content form p.radios input {
  margin-left: 0;
}

#content form p.input input,
#content form p.textarea textarea,
#content form p.password input {
  padding: 4px;
  border: none;
  width: 400px;
  background-color: #fff3eb;
}

#content form p.submit {
  margin-right: 361px;
  padding: 0;
  text-align: right;
}
#content form p.centersubmit {
  margin: 4px auto !important;
  padding: 0 300px !important;
  text-align: center !important;
}
#content form p.submit input {
  cursor: pointer;
}

#content form p.forceselect {}
#content form p.select {}

#content form p.forceselect select,
#content form p.select select {
  width: 410px;
}

#content form p.textarea textarea {
  height: 50px;
}

#content form p.checkboxes {}

#content form p.checkboxes span.field {
/*
  margin-left: 165px;
  margin-top: -20px;
  display: inline-block;
  clear: left;
*/
}

#content form p.checkboxes span.checkbox {
  white-space: nowrap;
}

#content form p.text span.confirm {
  margin-bottom: 15px;
  display: block;
  color: #bc672e;
  text-align: center;
}

#content form p span.error-message {
  margin-left: 590px;
  padding: 5px 8px;
  display: block;
  position: absolute;
  top: -1px;
  color: #fafafa;
  background-color: #323232;
  white-space: nowrap;
  z-index: 100;
}

#content form p span.arrow {
  width: 20px;
  height: 20px;
  position: absolute;
  left: -16px;
  top: 2px;
  background-image: url('/images/err_msg_arrow.gif');
  background-repeat: no-repeat;
}

#content form.search {
  margin: 5px 0;
  padding: 2px 6px 4px;
  border-top: 2px solid #c7d9ee;
  background-color: #dde9f6;
  clear: both;
}

#content form.search span.label {
  padding: 0 5px 0 0;
  width: auto;
  display: inline;
  float: none;
  font-weight: bold;
  text-align: left;
}

#content form.search span.field {}

#content form.search p {
  margin: 4px 10px 4px 0;
  padding: 0;
  clear: none;
  display: inline-block;
  position: relative;
}

#content form.search p.input input,
#content form.search p.password input,
#content form.search p.submit input,
#content form.search p.textarea textarea,
#content form.search p.forceselect select,
#content form.search p.select select {
  font-family: 'Lucida Grande', Tahoma, Verdana, Arial, sans-serif;
  font-size: 12px;
  color: #333;
}

#content form.search p.input {}
#content form.search p.password {}

#content form.search p.radios span.radio {
  margin-right: 5px;
}
#content form.search p.radios input {
  margin-left: 0;
}

#content form.search p.input input,
#content form.search p.textarea textarea,
#content form.search p.password input {
  padding: 4px;
  border: none;
  width: 400px;
  background-color: #f1f6fb;
}

#content form.search p.submit {
  margin-left: 0;
  padding: 0;
  text-align: left;
}
#content form.search p.submit input {
  width: auto;
  cursor: pointer;
}

#content form.search p.forceselect {}
#content form.search p.select {}

#content form.search p.forceselect select,
#content form.search p.select select {
  width: auto;
}

#content form.search p.textarea textarea {
  height: 50px;
}

#content form.search p.checkboxes {}

#content form.search p.checkboxes span.field {
/*
  margin-left: 165px;
  margin-top: -20px;
  display: inline-block;
  clear: left;
*/
}

#content form.search p.checkboxes span.checkbox {
  white-space: nowrap;
}

#content form.search p span.error-message {
  margin-left: 0;
  padding: 5px 8px;
  display: block;
  position: absolute;
  top: 28px;
  color: #fafafa;
  background-color: #323232;
}

#content form.search p span.arrow {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 16px;
  top: -16px;
  background-image: url('/images/search_err_msg_arrow.png');
  background-repeat: no-repeat;
}

#content form.search .ui-autocomplete,
#content form.search .ui-autocomplete.ui-menu {
  margin: 0;
  padding: 20px 0 0 0;
  width: 400px;
  position: absolute !important;
  top: 8px !important;
  list-style: none;
  background-image: url('/images/search_autocomplete_arrow.png');
  background-position: center 2px;
  background-repeat: no-repeat;
}

#content form.search .ui-autocomplete.ui-menu .ui-menu-item a {
  padding: 4px;
  border-top: 1px dotted #dde9f6;
  border-left: 1px solid #c7d9ee;
  border-right: 1px solid #c7d9ee;
  background-color: #f8fafb;
  color: #3c7fcb;
  cursor: pointer;
  display: block;
}

#content form.search .ui-autocomplete.ui-menu .ui-menu-item:first-child a {
  border-top: 2px solid #c7d9ee;
}

#content form.search .ui-autocomplete.ui-menu .ui-menu-item:last-child a {
  border-bottom: 1px solid #c7d9ee;
}

#content form.search .ui-autocomplete.ui-menu .ui-menu-item a:hover,
#content form.search .ui-autocomplete.ui-menu .ui-menu-item a.ui-state-hover {
  background-color: #f1f6fb;
  color: #1764bd;
}


/* Tables */

#content table.data {
  margin: 5px 0;
  width: 100%;
  border-collapse: collapse;
  border-top: 2px solid #d9c7ad;
  table-layout: auto;
}

#content table.data form {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

#content table.data form span.label {}

#content table.data form span.field {}

#content table.data form p {
  margin: 4px auto;
  padding: 0 300px;
  clear: both;
  position: relative;
}

#content table.data form p.input input,
#content table.data form p.submit input,
#content table.data form p.forceselect select,
#content table.data form p.select select {}

#content table.data form p.input {}
#content table.data form p.input input {
  background-color: #eae5de;
}

#content table.data form p.submit {
  margin-right: 361px;
  padding: 0;
  text-align: right;
}
#content table.data form p.submit input {
  cursor: pointer;
}

#content table.data form p.select {}
#content table.data form p.forceselect {}

#content table.data form p.select select {}
#content table.data form p.forceselect select {}

#content table.data form p span.error-message {
  margin-left: 590px;
  padding: 5px 8px;
  display: block;
  position: absolute;
  top: -1px;
  color: #fafafa;
  background-color: #323232;
}

#content table.data form p span.arrow {
  width: 20px;
  height: 20px;
  position: absolute;
  left: -16px;
  top: 2px;
  background-image: url('/images/err_msg_arrow.gif');
  background-repeat: no-repeat;
}

#content table.has-pagination {
  margin-bottom: 2px;
}

#content table.has-section {
  width:  95%;
  margin: 10px auto;
  border: 1px solid #d9c7ad;
}

#content table.has-section-full {
  width:  100%;
  margin: 10px auto;
  border: 1px solid #d9c7ad;
}

#content table.has-actions {
  margin-top: 0;
}

#content table.data tr {}

#content table.data tr,
#content table.data tr.odd,
#content table.data tr.even {
/*  background-color: #eee8df;*/
  background-color: #f0ede8;
}

#content table.data tr.head {
  background-color: #e5dbcc;
}

#content table.data tr.head a,
#content table.data tr.head a:visited {
  color: #333;
  text-decoration: none;
}

#content table.data tr.head a:hover {
  text-decoration: underline;
}

#content table.data tr:hover,
#content table.data tr.odd:hover,
#content table.data tr.even:hover {
  background-color: #eee8df;
}

#content table.data tr.head:hover {
  background-color: #e5dbcc;
}

#content table.data tr.details:hover,
#content table.data tr.odd.details:hover,
#content table.data tr.even.details:hover,
#content table.data tr.odd.download-form:hover,
#content table.data tr.even.download-form:hover {
  background-color: #f0ede8;
}

#content table.data tr.details,
#content table.data tr.download-form {
  display: none;
}

#content table.data th,
#content table.data td {
  padding: 2px 6px 2px 3px;
  text-align: left;
  height: 18px;
}

#content table.data td.links {
  text-align: right;
  position: relative;
}

#content table.data th {
  padding-bottom: 3px;
  vertical-align: bottom;
}

#content table.data td {
  border-top: 1px dotted #e6dfd4;
  /* border-top: 1px dotted #d9c7ad; */
  white-space: nowrap;
}

#content table.data td.split-row {
  border-top: none !important;
}

#content td span.data-type {
  padding: 3px 4px;
  width: 90%;
  background-color: #e5dbcc;
  color: #86704e;
  display: block;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
}

#content th.type,
#content td.type,
#content th.status,
#content td.status,
#content th.image,
#content td.image {
  width: 10px;
}

#content th.type img,
#content td.type img,
#content th.status img,
#content td.status img,
#content th.image img,
#content td.image {
  position: relative;
  top: 1px;
}

#content table.data td.duplicate {
  color: #2a6aeb;
  font-weight: bold;
}

#content table.data td.warning {
  color: #a5890b;
  font-weight: bold;
}

#content table.data td.error {
  color: #ae3636;
  font-weight: bold;
}

#content table.data tr.details td,
#content table.data tr.download-form td {
  padding: 0 4px;
  border-top: none;
  /* border-bottom: 1px dotted #e6dfd4; */
  white-space: nowrap;
}

#content table.data td.wrap-normal {
  white-space: normal;
}

#content table.data th.links,
#content table.data td.links {
  width: 25px;
}

#content table.data .links-container {
  position: relative;
}

#content table.data .links-links {
  display: none;
  position: absolute;
  right: 0;
  z-index: 25;
}

#content table.data .links-links .link {
  border-bottom: 1px dotted #564832;
}

#content table.data a.link,
#content table.data span.link,
.action-bar span.link {
  maring-bottom: 2px;
  padding: 3px 4px 2px 8px;
  display: block;
  clear: left;
  color: #eee8df;
  font-size: 10px;
  font-weight: bold;
  text-decoration: none;
  background-color: #887250;
  cursor: pointer;
}

#content table.data a.link:hover,
#content table.data span.link:hover,
.action-bar span.link:hover  {
  background-color: #564832;
}

#content table.data a.link-title,
#content table.data span.link-title {
  padding: 2px 4px;
  font-weight: bold;
  display: inline-block;
  position: inherit;
}

#content table.data a.download-link {
  color: #333;
  text-decoration: none;
}
#content table.data a.download-link:hover {
  text-decoration: underline;
}

#content table.data-header {
  margin: 5px 0;
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #bcc6aa;
}

#content table.data-header tr {
  background-color: #ecefe7;
}

#content table.data-header td {
  padding: 2px 4px;
  text-align: left;
  height: 18px;
}

#content table.data-header td.label {
  padding-right: 10px;
  width: 125px;
  font-weight: bold;
  text-align: right;
  white-space: nowrap;
}

#content table.form {
  margin: 0 0 2px;
  width: 100%;
  border-collapse: collapse;
  border-top: none;
  table-layout: auto;
}

#content table.has-actions {
  margin-top: 0;
}

#content table.form td span.data-type {
  background-color: #ffc09b;
}

#content table.form tr {}

#content table.form tr,
#content table.form tr.odd,
#content table.form tr.even {
/*  background-color: #eee8df;*/
  background-color: #ffd6ba;
}

#content table.form tr.head {
  background-color: #ffc09b;
  border-bottom: 3px solid #ffd6ba;
}

#content table.form tr.head a,
#content table.form tr.head a:visited {
  color: #333;
  text-decoration: none;
}

#content table.form tr.head a:hover {
  text-decoration: underline;
}

#content table.form tr:hover,
#content table.form tr.odd:hover,
#content table.form tr.even:hover {
  background-color: #ffdfcb;
}

#content table.form tr.head:hover {
  background-color: #ffc09b;
}

#content table.form th,
#content table.form td {
  padding: 2px 6px 2px 3px;
  text-align: left;
  height: 18px;
}

#content table.form td {
  border-top: 1px dotted #ffb685;
  /* border-top: 1px dotted #d9c7ad; */
  white-space: nowrap;
}

#content table.form td.links {
  text-align: right;
}

#content table.form td.split-row {
  border-top: none !important;
}

#content table.form a.link,
#content table.form span.link,
.action-bar span.link {
  padding: 2px 4px;
  display: inline-block;
  color: #eee8df;
  font-size: 10px;
  font-weight: bold;
  text-decoration: none;
  background-color: #887250;
  cursor: pointer;
}

#content table.form a.link:hover,
#content table.form span.link:hover,
.action-bar span.link:hover  {
  background-color: #564832;
}

#content table.form input {
  margin-left: 0;
  padding: 3px 4px;
  background-color: #fff0e7;
  border: none;
}

ul.roles {
  padding-left: 18px;
}

.action-bar {
  padding: 3px 4px 1px;
  background-color: #d9c7ad;
  font-size: 10px;
}

.barcode-text {
  text-transform: uppercase;
}
