.pending {

}
.accepted {

}
.rejected {

}

#content form {
  margin: 10px 0;
  padding: 2px 6px;
  border-top: 2px solid #ffb685;
  background-color: #ffd6ba;
}

#content form span.label {
  padding: 4px 10px;
  width: 150px;
  display: block;
  float: left;
  font-weight: bold;
  text-align: right;
}

#content form span.field {}

#content form p {
  margin: 6px auto;
  padding: 0 300px;
  clear: both;
  position: relative;
}

#content form p.input input,
#content form p.submit input,
#content form p.select select {
  font-family: 'Lucida Grande', Tahoma, Verdana, Arial, sans-serif;
  font-size: 11px;
  color: #333;
}

#content form p.input {}
#content form p.input input {
  padding: 4px;
  border: none;
  width: 400px;
  background-color: #fff3eb;
}

#content form p.submit {
  margin-left: 730px;
  padding: 0;
  text-align: left;
}
#content form p.submit input {
  width: 150px;
  cursor: pointer;
}

#content form p.select {}
#content form p.select select {
  width: 400px;
}

#content form p span.error-message {
  margin-left: 590px;
  padding: 5px 8px;
  display: block;
  position: absolute;
  top: -1px;
  color: #fafafa;
  background-color: #323232;
}

#content form p span.arrow {
  width: 20px;
  height: 20px;
  position: absolute;
  left: -16px;
  top: 2px;
  background-image: url('/images/err_msg_arrow.gif');
  background-repeat: no-repeat;
}

#content table.data {
  margin: 10px 0;
  width: 100%;
  border-collapse: collapse;
  border-top: 2px solid #d2bfa3;
}

#content table.has-pagination {
  margin-bottom: 2px;
}

#content table.data tr {}

#content table.data tr.head {
  background-color: #e1d5c4;
}

#content table.data tr.odd {
  background-color: #f0ede8;
}

#content table.data tr.even {
  background-color: #eee8df;
}

#content table.data tr.details {
  display: none;
}

#content table.data th,
#content table.data td {
  padding: 4px 6px;
  text-align: left;
}

#content table.data td.links {
  text-align: right;
}

#content table.data tr.details td {
  padding: 6px;
}

#content table.data th {
}

#content table.data td {
  border-top: 1px dotted #d2bfa3;
  white-space: nowrap;
}

#content table.data tr.details td {
  border-top: 1px dotted #e6dfd4;
}

#content table.data a.link,
#content table.data span.link {
  padding: 3px 6px;
  display: inline-block;
  color: #eee8df;
  font-size: 9px;
  font-weight: bold;
  text-decoration: none;
  background-color: #887250;
  cursor: pointer;
}

#content table.data a.link:hover,
#content table.data span.link:hover {
  background-color: #564832;
}