#top {
  background-image: url('/images/libertrack.png');
  background-repeat: no-repeat;
  background-position: 1062px 7px;
}

#top #title {
  padding: 5px 10px;
}

#top #title .sgs {
  color: #f60;
}

#top #title .main {
  font-size: 24px;
  font-weight: bold;
  line-height: 40px;
}

#top #title .dot {
  margin: 0 -5px;
}

#top #title .divider {
  margin: 0 -10px 0 -5px;
  color: #000;
  font-size: 40px;
  line-height: 40px;
  position: relative;
  top: 5px;
}

#top #title .sub {
  color: #8a8a8a;
  font-size: 20px;
  line-height: 40px;
  position: relative;
  top: -1px;
}

#top #title .green {
  /* color: #46cb22; */
}

.top-home-link,
.top-home-link:visited {
  text-decoration: none;
  color: #333;
}
